# AI
OPENAI_API_KEY=your_openai_api_key_here

# AUTH
SECRET_KEY=any-long-secret-key-for-jwt

# DATABASE
DATABASE_URL=sqlite+aiosqlite:///./examai.db

# Email OTP
BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxx
FROM_EMAIL=youremail@gmail.com